## Тема "Вычисления с помощью NumPy"

In [166]:
import numpy as np

### Задание 1

In [167]:
a = np.array([[1, 2, 3, 3, 1], [6, 8, 11, 10, 7]]).transpose()
a_mean = np.mean(a, axis=0)

### Задание 2

In [168]:
a_centered = a - a_mean

### Задание 3

In [169]:
a_centered_sp =  a_centered[:, 0] @ a_centered[:, 1]
a_centered_sp_after = a_centered_sp/(len(a[:,0])-1)

### Задание 4*

In [170]:
a_cov = np.cov(a_centered.T)[0,1]

## Тема "Работа с данными в Pandas"

In [171]:
import pandas as pd

## Задание 1

In [172]:
authors = pd.DataFrame({
    "author_id": [1, 2, 3],
    "author_name": ['Тургенев', 'Чехов', 'Островский']
})
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [173]:
books = pd.DataFrame({
    "author_id": [1, 1, 1, 2, 2, 3, 3],
    "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    "price": [450, 300, 350, 500, 450, 370, 290]
})
books

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

## Задание 2

In [174]:
authors_price = pd.merge(authors, books, on="author_id", how='outer')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

## Задание 3

In [175]:
top5 = authors_price.sort_values(by="price")[-5::][::-1]
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
4          2       Чехов    Дама с собачкой    450
0          1    Тургенев        Отцы и дети    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

## Задание 4

In [176]:
new_dataframe = pd.DataFrame({
    "author_name": [],
    "min_price": [],
    "max_price": [],
    "mean_price": [],
})
for author_id, author_name in authors.values:
    new_dataframe = pd.concat((new_dataframe, pd.DataFrame({
        "author_name": [author_name],
        "min_price": [min(authors_price[authors_price["author_name"] == author_name]["price"])],
        "max_price": [max(authors_price[authors_price["author_name"] == author_name]["price"])],
        "mean_price": [authors_price[authors_price["author_name"] == author_name].describe()["price"]["mean"]]
    })), ignore_index=True)

new_dataframe

  author_name  min_price  max_price  mean_price
0    Тургенев      300.0      450.0  366.666667
1       Чехов      450.0      500.0  475.000000
2  Островский      290.0      370.0  330.000000